@font-face {
    font-family: 'Bakso';
    src: url('/fonts/logofont');
}

.logofont,
letter {
    font-family: 'Bakso', sans-serif;
    font-size: 30px;
}

/* #canvas-shapes {
    top: 17vmin;
} */
.bg-darkblue {
    background: rgb(126, 38, 241);
    background: linear-gradient(90deg, rgba(126, 38, 241, 1) 30%, rgba(91, 12, 194, 1) 55%);
}

.box-shadow {
    box-shadow: 6px 8px 20px 10px rgba(0, 0, 0, 0.45);
}

.about {
    position: absolute;
    top: 100vh;
    height: 100vh;
}